ul li { menu.JPG 
    display: block;
    border: 3px solid magenta;
    width: 150px;
    list-style-type: none;
    padding: 10px 10px 10px 25px;
    margin-bottom: 5px;
    }

    .Menu2 {
        position: relative;
        display: inline-block;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }