ul li { menu.JPG 
    display: block;
    border: 3px solid magenta;
    width: 150px;
    list-style-type: none;
    padding: 10px 10px 10px 25px;
    margin-bottom: 5px;
    }

Menu2 {
        position: relative;
        display: block;
    border: 3px solid magenta;
    width: 150px;
    list-style-type: none;
    padding: 10px 10px 10px 25px;
    margin-bottom: 5px;
      }